@use "../scss/mixins" as *;
@use "../scss/vars" as *;

main{

    .container-card {
        padding-bottom: 30px;
        position: relative;
    }
    
    .series {
        color: white;
        padding: 10px 20px;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 25px;
        transform: translateY(-50%);
    }
    
    .background {
        background-color: $dark-gray;
    }
    
    .content {
        @include flexbox(start, start, wrap);
    }
    
    button {
        display: block;
    margin: 0 auto;
    background-color: $blue;
    color: white;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    }

    .card {
        flex-basis: calc(100% / 6);
        margin: 30px 0;
    
        img {
            display: block;
            object-fit: contain;
            width: 100%;
            height: 150px;
            clip-path: inset(0 30% 0 30%);
            cursor: pointer;
        }
    
        h3 {
            margin-top: 10px;
            margin-left: 30%;
            color: white;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
}