// @import '~bootstrap/scss/bootstrap';

@use "../scss/config";
@use "../scss/vars";
@use "../scss/mixins";
@use "../scss/header";
@use "../scss/jumbotron";
@use "../scss/main";
@use "../scss/footer";





